{% extends 'base.html' %}

{% block title %}New User{% endblock %}

{% block header %}Add a User{% endblock %}

{% block content %}

<form action="/register" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form 
                if field.widget.input_type != 'hidden' %}

  <p>
    {% if field.name == 'is_admin' %}
    <div class="form-check">
      {{ field(class_="form-check-input")  }}
      {{ field.label(class_="form-check-label")  }}
    </div>
    {% else %}
    {{ field.label  }}
    {{ field(class_="form-control")  }}
    {% endif %}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>

  {% endfor %}
  <button class="btn btn-primary">Register</button>
  <a href="/login" class="btn btn-success">Login</a>
</form>

{% endblock %}